<%= simple_form_for(@outflow) do |f| %>
  <%= f.error_notification %>
  <% if @outflow.errors[:operator_id].present? %>
    <% change_operator_field_errors(@outflow) %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :kind, collection: kind_selector_for_outflow, prompt: true %>
    <%= f.input :bill %>
    <%= f.input :comment, input_html: { rows: 5 } %>
    <%= f.input :amount, as: :string %>
    <%= f.label :operator_id %>
    <%= f.input :auto_operator_name, label: false, input_html: {
      value: @outflow.operator_id, class: 'autocomplete-field',
      data: {
        'autocomplete-id-target' => '#outflow_operator_id',
        'autocomplete-url' => autocomplete_for_operator_outflows_path(format: :json)
      }
    } %>
    <%= f.input :operator_id, as: :hidden,
      input_html: { class: 'autocomplete-id' } %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
