<%= simple_form_for(@outflow) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :kind, collection: kind_selector_for_outflow, prompt: false,
          input_html: {class: 'span10'} %>
      </div>
      <div class="span3">
        <%= f.input :bill %>
      </div>
      <div class="span3">
        <%= f.label :provider_id, for: 'outflow_auto_provider_name' %>
        <%= f.input :auto_provider_name, label: false do %>
          <div class="span10">
            <%= f.input_field :auto_provider_name,
              value: @outflow.try(:provider),
              class: 'autocomplete-field create-without-autocomplete',
              readonly: @outflow.try(:provider).present?,
              data: {
                autocomplete_id_target: '#outflow_provider_id',
                autocomplete_url: autocomplete_for_provider_outflows_path(format: :json),
                autocomplete_readonly: true,
                create_association_url: providers_path,
                create_association_main_key: 'provider',
                create_association_field: 'name',
                swal_text: 'Proveedor no encontrado ¿Crear proveedor?',
                swal_confirm: 'Crear',
                swal_cancel: 'Cancelar',
                swal_error_msg: 'Hubo un error...'
              } %>
          </div>
          <div class="span2">
            <%= link_to_remove '#',
              title: t('view.outflows.remove_provider'),
              class: 'clean-autocomplete',
              data: { target: '#outflow_provider_id' } %>
          </div>
        <% end %>
        <%= f.input :provider_id, as: :hidden,
          input_html: { class: 'autocomplete-id', value: @outflow.try(:provider_id) } %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :amount, as: :string %>
      </div>
      <div class="span3">
        <%= f.label :operator_id, for: 'outflow_auto_operator_name' %>
        <%= f.input :auto_operator_name, label: false, input_html: {
          value: @outflow.try(:operator_name), class: 'autocomplete-field',
          data: {
            'autocomplete-id-target' => '#outflow_operator_id',
            'autocomplete-url' => autocomplete_for_operator_outflows_path(format: :json)
          }
        } %>
        <%= f.input :operator_id, as: :hidden,
          input_html: { class: 'autocomplete-id', value: @outflow.try(:operator_id) } %>
      </div>
      <div class="span3">
        <%= f.input :bought_at, as: :date_picker %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :file %>
        <%= f.input :file_cache, as: :hidden %>
      </div>
      <div class="span4">
        <%= f.input :charged_by %>
      </div>
    </div>
    <%= f.input :comment, input_html: { rows: 5, class: 'span10'} %>
  </div>


  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
