<% if @outflows.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Outflow.human_attribute_name 'user_id' %></th>
            <th><%= Outflow.human_attribute_name 'kind' %></th>
            <th><%= Outflow.human_attribute_name 'comment' %></th>
            <th><%= Outflow.human_attribute_name 'amount' %></th>
            <th><%= Outflow.human_attribute_name 'operator_id' %></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @outflows.each do |outflow| %>
            <tr>
              <td><%= outflow.user %></td>
              <td><%= show_outflow_kind outflow %></td>
              <td><%= outflow.comment %></td>
              <td><%= number_to_currency outflow.amount %></td>
              <td><%= outflow.operator_id if outflow.operator_id %></td>
              <td><%= link_to_show outflow %></td>
              <td>
                <%= link_to_edit(
                  edit_outflow_path(outflow)
                ) if can? :update, outflow %>
              </td>
              <td><%= link_to_destroy outflow if can? :destroy, outflow %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@outflow) %>
<% end %>

<div class="form-actions">
  <div class="pull-right">
    <%= link_to t('view.outflows.shifts.pay_shifts'),
      show_pay_pending_shifts_outflows_path, class: 'btn btn-primary' %>
  </div>
  <%= link_to(
    t('view.outflows.new', default: :'label.new'),
    new_outflow_path, class: 'btn btn-primary'
  ) if can? :create, Outflow %>
</div>
