<div class="readonly-data">
  <% date = @outflow.bought_at ? l(@outflow.bought_at) : nil %>
  <h2><%= raw [show_outflow_kind(@outflow), date].join(' - ') %></h2>

  <% if @outflow.with_incentive %>
    <h4><%= I18n.t("view.outflows.with_incentive.true") %></h4>
  <% end %>

  <p>
    <strong><%= Outflow.human_attribute_name 'user_id' %></strong>:
    <%= @outflow.user %>
  </p>

  <% if @outflow.bill %>
    <p>
      <strong><%= Outflow.human_attribute_name 'bill'  %></strong>:
      <%= @outflow.bill %>
    </p>
  <% end %>

  <% if @outflow.provider %>
    <p>
      <strong><%= Outflow.human_attribute_name 'provider'  %></strong>:
      <%= @outflow.provider %>
    </p>
  <% end %>

  <p>
    <strong><%= Outflow.human_attribute_name 'amount' %></strong>:
    <%= number_to_currency @outflow.amount %>
  </p>
  <% if @outflow.operator_id %>


    <p>
      <strong><%= Outflow.human_attribute_name 'operator_id' %></strong>:
      <%= @outflow.operator_name %>
    </p>
  <% end %>

  <p>
    <strong><%= Outflow.human_attribute_name 'comment' %></strong>:
    <blockquote><%= simple_format @outflow.comment %></blockquote>
  </p>
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_outflow_path(@outflow) if can? :update, @outflow %> |
  <%= link_to t('label.list'), outflows_path %>
</div>
