<% movements_page = params[:movements_page] %>
<div class='readonly-data'>
  <h2><%= @operator.label %></h2>

  <div class='row-fluid'>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="<%= 'active' unless movements_page %>">
          <%= link_to t('view.operators.shifts'), '#shifts',
            data: { toggle: 'tab' } %>
        </li>
        <li class="<%= 'active' if movements_page %>">
          <%= link_to t('view.operators.movements'), '#movements',
            data: { toggle: 'tab' } %>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane <%= 'active' unless movements_page %>" id="shifts">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t('view.operators.start') %></th>
                <th><%= t('view.operators.finish') %></th>
                <th><%= t('view.operators.shift_duration') %></th>
                <th><%= t('view.operators.paid') %></th>
              </tr>
            </thead>
            <tbody>
              <% @shifts.each do |s| %>
                <tr>
                  <td><%= l s.start, format: :minimal %></td>
                  <td><%= l s.finish, format: :minimal if s.finish %></td>
                  <td><%= show_shift_duration s %></td>
                  <td><%= s.paid ? t('label.yes') : t('label.no') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= prehistoric_pagination_links %>
        </div>

        <div class="tab-pane <%= 'active' if movements_page %>" id="movements">
          <% if @movements.any? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= t('view.outflows.movement_kind') %></th>
                  <th><%= t('shared.day') %></th>
                  <th><%= t('shared.quantity') %></th>
                </tr>
              </thead>
              <tbody>
                <% @movements.each do |m| %>
                  <tr>
                    <td><%= show_outflow_kind(m)  %></td>
                    <td><%= l(m.bought_at) if m.try(:bought_at) %></td>
                    <td><%= number_to_currency m.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <%= pagination_links(@movements, 'movements_page') %>
          <% else %>
            <div class="alert">
              <%= t('view.operators.without_movements') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('view.operators.create_shift'), new_operator_shift_path(@operator),
    class: 'btn btn-primary' %>
</div>


